@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #e0e0e058;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-back: #ebe9e9;
  --bs-border: #bcbcbc;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Sidebar CSS */
.sidebar {
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #ffff;
  transition: all 0.4s linear;
  background-color: var(--bs-teal);
}
.sidebar:hover {
  width: 240px;
  transition: 0.4s;
}

.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
}

.menu li:hover,
.active {
  /* Mungkin bisa diganti opacity, tp idk tak kasih exact value aja */
  background: #62d1b0;
}

.menu a {
  color: #ffff;
}

.menu a:hover {
  text-decoration: none;
  color: inherit;
}

.sidebar-icon {
  width: 20px;
}

/* main */
.main-content {
  padding: 1rem;
}
.header {
  background-color: var(--bs-teal);
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.sidebarLayout {
  display: flex;
}

.rounded-corner {
  border-radius: 50px;
}

/* Profile */
label {
  margin-left: 3px;
}

.form-input {
  width: 400px;
}

/* Santri */
.icon-santri {
  color: var(--bs-teal);
}

.btn {
  width: 213px;
  height: 50px;

  color: var(--bs-teal);
  border-radius: 10px;
}
.btn:hover {
  color: #fff;
  background-color: var(--bs-teal);
}
.form-floating label {
  color: rgba(129, 129, 129, 0.5);
}

.form-control {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

/* Room */
.btn-circle {
  width: 60px;
  height: 60px;
  background-color: #198754;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}
.btn-circle:hover{
  background-color:#1e3d2f ;
}

