:root {
  --bs-teal: #20c997;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Sidebar CSS */
.sidebar {
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #ffff;
  transition: all 0.4s linear;
  background-color: var(--bs-teal);
}
.sidebar:hover {
  width: 240px;
  transition: 0.4s;
}

.logo {
  height: 80px;
  padding: 16px;
}
.logo1{
  color: #fff;
}
.menu {
  height: 88%;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
}

.menu li:hover,
.active {
  /* Mungkin bisa diganti opacity, tp idk tak kasih exact value aja */
  background: #62d1b0;
}

.menu a {
  color: #ffff;
}

.menu a:hover {
  text-decoration: none;
  color: inherit;
}

.sidebar-icon {
  width: 20px;
}

/* main */
.main-content {
  padding: 1rem;
}
.header {
  background-color: var(--bs-teal);
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.sidebarLayout {
  display: flex;
}

.rounded-corner {
  border-radius: 50px;
}

/* Profile */
label {
  margin-left: 3px;
}

.form-input {
  width: 400px;
}

/* Santri */
.icon-santri {
  color: var(--bs-teal);
}

.btn {
  width: 213px;
  height: 50px;

  color: var(--bs-teal);
  border-radius: 10px;
}
.btn:hover {
  color: #fff;
  background-color: var(--bs-teal);
}
.form-floating label {
  color: rgba(129, 129, 129, 0.5);
}

.form-control {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

/* Room */
.btn-circle {
  width: 60px;
  height: 60px;
  background-color: #198754;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}
.btn-circle:hover{
  background-color:#1e3d2f ;
}

/* dashboard */
.dana-icon, .down-icon, .total-santri-icon{
  width: 2rem !important;
  font-size: 24pt;
}
.dana-icon{
  color: var(--bs-teal);
}
.down-icon{
  color: var(--bs-danger);
}
.total-santri-icon{
  color: var(--bs-dark);
}
.dashboard{
  transition: box-shadow 0.3s;
}
.dashboard:hover{
box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/* float button */
.btn-float{
  margin-top: 20px;
  position:fixed;
  width: 70px;
  height: 70px;
  bottom: 20px;
  right: 15px;
  background-color: var(--bs-teal);
  color: #d1d1d1;
  border-radius: 50%;
  text-align: center;
}

/* Profile */
.pp-admin{
  border-radius: 50%;
}

.form-control:focus{
border-color: #20c997;
box-shadow: none;
}

