.form-control{
	width: 400px;
}
.btn-success{
	border:none;
    background-color: var(--bs-teal);
    color: var(--bs-dark);
    
}
.btn-success:hover{
    background-color: var(--bs-teal);
    color: var(--bs-success);
}

.login-page{
    margin: 200px;
    padding: auto;
}
