.form-control{
	width: 200px;
    height: auto;
}
.btn-success{
	border:none;
    background-color: var(--bs-teal);
    color: var(--bs-dark);
    
}
.btn-success:hover{
    background-color: var(--bs-teal);
    color: var(--bs-success);
}

.login-page{
    margin-top: 300px;
    padding-left: 30vh;
}
