@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #e0e0e058;
	--bs-gray-dark: #343a40;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-back: #ebe9e9;
	--bs-border:#bcbcbc;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)
	);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.sidebar {
	width: 110px;
	height: 100vh;
	padding: 0 1.7rem;
	color: #fff;

	transition: all 0.4s linear;
	background-color: var(--bs-teal);
}
.sidebar:hover {
	width: 240px;
	transition: 0.39s;
}

.logo {
	height: 80px;
	padding: 16px;
}
.menu {
	height: 88%;
}

.menu li {
	padding: 1rem;
	margin: 8px 0;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	list-style-type: none;
}

.menu li:hover,
.active {
	background: var(--bs-gray);
}

.menu a {
	color: #fff;
	
}

.menu a i {
	font-size: 1.2rem;
}

/* main */
.main-content {
	background-color: var(--bs-back);
	padding: 1rem;
}
.header {
	background-color: var(--bs-light);
	border-radius: 10px;
	padding: 10px 2rem;
	margin-bottom: 1rem;
}

.title {
	color: var(--bs-teal);
}

.header img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
}

.search-box {
	gap: 5px;
	padding: 1px 8px;
	border-radius: 15px;
	color: var(--bs-teal);
	background-color: var(--bs-white);
}

.search-box input {
	background: transparent;
	padding: 10px;
}
.search-box i {
	font-size: 1.2rem;
	cursor: pointer;
	transition: all 0.4s ease-out;
}

.search-box i:hover {
	transform: scale(1.1);
}

/* -------insight------- */
.insight-container {
	background: var(--bs-light);
  width: 77%;
	padding: 2rem;
	border-radius: 10px;
}

.insight-title {
	color: var(--bs-teal);
	padding-bottom: 10px;
	font-size: 15px;
}

.insight {
	background: var(--bs-white);
	border-radius: 10px;
	padding: 1.2rem;
	width: 290px;
	height: 130px;

	transition: all 0.3s ease-in-out;
}

.insight:hover {
	transform: translateY(-5px);
}

.insight-header {
	margin-bottom: 20px;
}

.title {
	
	font-weight: 200;
}

.value {
	
	margin-top: 20px;
}

.icon {
	color: var(--bs-teal);
	padding: 1rem;
	height: 60px;
	width: 60px;
	text-align: center;
	font-size: 1.5rem;
}

/* login page */
.login{
	height: 100vh;
}

.header h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	
}

.header p{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	
}

.login-form label {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.login-form input, .login-form .facebook{
	border: 1px solid var(--bs-border);
	box-sizing: border-box;
	border-radius: 8px;
	background: var(--bs-white);

}

.login-form a, .login-form span{
	
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--bs-teal);
}

.fb{
	width: 20px;
	height: 20px;
}

.login-form .signin{
	height: 42px;
	border-radius: 8px;
	color: var(--bs-white);
	background-color: var(--bs-teal);
}

